.set-0{
    padding: 0;
    margin: 0;
}
.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}
.bg-content{
    background-color:rgb(243, 243, 243);
}
.img-content{
    max-height:17rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.img-slide{
    max-height:7rem;
    object-fit: cover;
}
